language = "nodejs"
run = "npm run dev"
modules = ["nodejs-20"]

[env]
PATH = "/home/runner/$REPL_SLUG/node_modules/.bin:$PATH"

[nix]
channel = "stable-22_11"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "npm run dev"]
